@model CLUB.Models.SOCIOS

@{
    ViewBag.Title = "Details";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-size:150%">
            <a class="navbar-brand" href="http://localhost:51176/SOCIOS/Index">

            </a>
            <a class="nav-item nav-link active" href="http://localhost:58077/SOCIOS/Inicio" style="margin-left:210%">INICIO<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="http://localhost:58077/SOCIOS/Create">MANTENIMIENTO</a>
            <a class="nav-item nav-link" href="http://localhost:58077/SOCIOS/Index">LISTADO</a>
            <a class="nav-item nav-link" href="http://localhost:58077/SOCIOS/Login">CERRAR</a>
        </div>
    </div>
</nav>


<div>
    
    <hr />
    <dl class="dl-horizontal" style="font-size:150%">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOTO)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.FOTO)*@
            <img width="100" src="@Url.Action("getImage","SOCIOS",new { id= Model.CEDULA})" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHADENAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHADENAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFILIADOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFILIADOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATOSMEMBRESIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATOSMEMBRESIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUGARDETRABAJO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUGARDETRABAJO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCIONOFICINA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCIONOFICINA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELOFOCINA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELOFOCINA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADODEMEMBRESIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADODEMEMBRESIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINGRESO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINGRESO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHASALIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHASALIDA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CEDULA }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
